body {
  background-color: black;
  color: azure;
}
.parallax {
  /* The image used */
  background-image: url("/images/ParallelScrollingbg.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
  /* background-color: yellow; */
  padding: 50px;
  font-size: 20px;
}
